#Fnuevo {
    display: grid;
    grid-template-columns: 150px;
    grid-row-gap: 8px;
}

#btnListar {
    margin-top: 10px;
}

#listaRegistros {
    margin-top: 20px;
    border: 1px solid #000;
    padding: 10px;
    max-width: 300px;
}

#listaAlumnos{
    list-style-type:none;
    background-color:dimgray;
    border: 1px solid black;
}

.itemAlumno{
    width: 200px;
    background-color: steelblue;
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}
